@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.lazy-load{
    background-color: #FFECE1;
    height: 45px;
}
.lazy-load ul{
    display: flex;
}

.lazy-load ul li{
    margin-right: 20px;
    line-height: 45px;
    list-style: none;
    color: #777777;

}

.lazy-load li a{
    text-decoration: none;
    color: #777777;

}
.lazy-load li a:hover{
    color: black;
}


.page-content {
    display: block;
   
}
.row.page-content {
    margin-left: 30px;
}
.page-content h2{
    font-size: 28px;
    margin-top: 30px;
}

.page-content p{
    font-size: 14px;
}
.contact{
    position: relative;
    bottom:0;
}